<!doctype html>
<html lang="en-US">
	<head>
		<title>Whiteboard Interview Prep</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		{% load static %}
		<link rel="stylesheet" href="{% static 'main.css' %}">
	</head>
<body>
	<h1>Whiteboard 2.0</h1>
	<ol>
		{% for category in category_nav %}
		<li>{{category}}</li>
		{% endfor %}
	</ol>
	<p><strong>Problem to solve</strong></p>
	<p>{{problem}}</p>
	{{form}}

</body>
</html>